# PyInstaller
build/
dist/
*.spec
!CursorKeepAlive.mac.spec
!CursorKeepAlive.win.spec

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDE
.vscode/
.idea/

# Mac
.DS_Store

venv/

node_modules/

# Configuration files with sensitive information
.env
official_config.json

# 备份和临时配置文件
backup_configs/
*.tmp
official_config.json.tmp

screenshots/